
  <div class="row">
    <div class="col-md-2" *ngFor="let a of listavis;let i = index">
        <div class="card text-center" style="width: 12rem; ">

            <img src="{{a.photo}}" class="rounded-circle shadow-1-strong mx-auto d-block" alt="..." style="width: 7rem;" >
            <div class="card-body">

                <h5 class="card-title">{{a.amis}}</h5>
                <p class="card-text">
                    Rate : {{a.rate}}<i class="fas fa-star" style="color: #fcff42;"></i>
                </p>

            </div>
        </div>
    </div>
</div>