<form #f="ngForm">
    <div class="d-flex flex-start w-100">
        <img class="rounded-circle shadow-1-strong me-3"
            src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(19).webp" style="width: 20%; height: 50px;" alt="avatar" />

        <div class="form-outline w-100">
            <textarea class="form-control" id="textAreaExample" rows="4" placeholder="Ajouter un commentaire..." data-bs-toggle="collapse"
                href="#collapseExample" aria-expanded="false" aria-controls="collapseExample"
                style="background: #fff;" type="text" name="comment" [(ngModel)]="comment.commentaire" #c="ngModel" required minlength="3" maxlength="100"></textarea>
        </div>
        <div class="alert alert-danger" *ngIf="c.invalid && c.touched">
            <div *ngIf="c.errors?.['required']"> commentaire is a required field</div>
            <div *ngIf="c.errors?.['minlength']"> commentaire minlength is equal to 3</div>
            <div *ngIf="c.errors?.['maxlength']"> commentaire maxlength is equal to 100</div>
          </div>
        
    </div>
    <br><br>
    <div class="float-end pt-1" style="margin-left: 15em;" class="collapse" id="collapseExample">
        <button type="button" class="btn btn-primary btn-rounded" [disabled]="f.invalid" (click)="save()">Post comment</button>
        <button type="button" class="btn">Cancel</button>
    </div>
</form>
