@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
}

body {
    height: 100vh;
    background: linear-gradient(to top, #c9c9ff 50%, #9090fa 90%) no-repeat
}

.container {
    margin: 50px auto
}

.panel-heading {
    text-align: center;
    margin-bottom: 10px
}

#forgot {
    min-width: 100px;
    margin-left: auto;
    text-decoration: none
}

a:hover {
    text-decoration: none
}

.form-inline label {
    padding-left: 10px;
    margin: 0;
    cursor: pointer
}



.panel {
    min-height: 380px;
    box-shadow: 20px 20px 80px rgb(218, 218, 218);
    border-radius: 12px
}

.input-field {
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid #ddd;
    color: #4343ff
}

input[type='text'],
input[type='password'] {
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%
}

.fa-eye-slash.btn {
    border: none;
    outline: none;
    box-shadow: none
}

img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    position: relative
}

a[target='_blank'] {
    position: relative;
    transition: all 0.1s ease-in-out
}

.bordert {
    border-top: 1px solid #aaa;
    position: relative
}

.bordert:after {
    content: "or connect with";
    position: absolute;
    top: -13px;
    left: 33%;
    background-color: #fff;
    padding: 0px 8px
}

@media(max-width: 360px) {
    #forgot {
        margin-left: 0;
        padding-top: 10px
    }

    body {
        height: 100%
        
    }

    .container {
        margin: 30px 0
    }

    .bordert:after {
        left: 25%
    }
}

.myform {
  max-width: 80%;
  box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
}
.modal-body {
  background-color: transparent;
  padding: 0.001px;
}

.modal-content {
  width: 100%;
  margin: 0 auto;
}
.modal-header {
  background-color: transparent;
  border-radius: 10px;
}

/* You can find real author of this layout animation on codepen.io unfortunatly I lost his or her url to code

-- This is most copied of him, or her and with a little --fix-- 
*/

* {
  box-sizing: border-box;
  text-align: center;
}



.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  color: #fff;
  transition: 500ms;
  font-size: 16px;
  pointer-events: none;
}

.login-box .user-box .input {
  width: 100%;
  padding: 10px 0;
  color: #fff;
  margin-bottom: 30px;
  border-bottom: 1px solid #fff;
}

.input:active ~ label {
  top: -20px;
  color: #03e9f4;
  font-size: 12px;
 }

.input:focus ~ label {
 top: -20px;
 color: #03e9f4;
 font-size: 12px;
}

.input:valid ~ label  {
  top: -20px;
  color: #03e9f4;
  font-size: 12px;
 }


.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: all .5s;
  margin-top: 40px;
  letter-spacing: 4px;
  color: #03e9f4;
}

.login-box a:hover {
  background-color: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
}

.login-box a span {
  position: absolute;
  display: block;
}

@keyframes btnAnimA {
  0% {
    left: -100%;
  }
  50% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}
.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btnAnimA 1500ms linear infinite;
  /* animation-delay: 200ms; */
  animation-fill-mode: backwards;
  animation-play-state: running;
}


@keyframes btnAnimB {
  0% {
    top: -100%
  }
  50% {
    top: 100%;
  }
  100% {
    top: 100%;
  }
}
.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btnAnimB 1500ms linear infinite;
  animation-delay: 300ms;
}


@keyframes btnAnimC {
  0% {
    right: -100%;
  }
  50% {
    right: 100%;
  }
  100% {
    right: 100%;
  }
}
.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btnAnimC 1500ms linear infinite;
  animation-delay: 600ms;
}


@keyframes btnAnimD {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}
.login-box a span:nth-child(4) {
  left: 0;
  bottom: -100%;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btnAnimD 1500ms linear infinite;
  animation-delay: 900ms;
} 

