
<app-nav-front></app-nav-front>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<br>
<br>
<br>
<div class="container">
<div class="col-md-12">
    <div class="card b-1 hover-shadow mb-20">
        <div class="media card-body">
            <div class="media-left pr-12">
                <img class="avatar avatar-xl no-radius" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="...">
            </div>
            <div class="media-body">
                <div class="mb-2">
                    <span class="fs-20 pr-16">Hossein Shams</span>
                </div>
                
            </div>
            <div class="media-right text-right d-none d-md-block">
                
            </div>
        </div>
        <footer class="card-footer flexbox align-items-center">
            <div>
              
            </div>
            <div class="card-hover-show">
        
                <a routerLink="/msg" class="btn btn-xs fs-10 btn-bold btn-primary" href="#" data-toggle="modal" data-target="#modal-contact">Message</a>
                <a class="btn btn-xs fs-10 btn-bold btn-warning" href="#">Delete</a>
            </div>
        </footer>
    </div>

    <div class="card b-1 hover-shadow mb-20">
        <div class="media card-body">
            <div class="media-left pr-12">
                <img class="avatar avatar-xl no-radius" src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="...">
            </div>
            <div class="media-body">
                <div class="mb-2">
                    <span class="fs-20 pr-16">Maryam Amiri</span>
                </div>
               
            </div>
            <div class="media-right text-right d-none d-md-block">
               
            </div>
        </div>

        <footer class="card-footer flexbox align-items-center">
            <div>
                
            </div>
            <div class="card-hover-show">
          
                <a routerLink="/msg" class="btn btn-xs fs-10 btn-bold btn-primary" href="#" data-toggle="modal" data-target="#modal-contact">Message</a>
                <a class="btn btn-xs fs-10 btn-bold btn-warning" href="#">Delete</a>
            </div>
        </footer>
    </div>

    <div class="card b-1 hover-shadow mb-20">
        <div class="media card-body">
            <div class="media-left pr-12">
                <img class="avatar avatar-xl no-radius" src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="...">
            </div>
            <div class="media-body">
                <div class="mb-2">
                    <span class="fs-20 pr-16">Frank Camly</span>
                </div>
           
            </div>
            <div class="media-right text-right d-none d-md-block">
        
            </div>
        </div>

        <footer class="card-footer flexbox align-items-center">
            <div>
             
            </div>
            <div class="card-hover-show">
               
                <a routerLink="/msg" class="btn btn-xs fs-10 btn-bold btn-primary" href="#" data-toggle="modal" data-target="#modal-contact">Message</a>
                <a class="btn btn-xs fs-10 btn-bold btn-warning" href="#">Delete</a>
            </div>
        </footer>
    </div>

    <div class="card b-1 hover-shadow mb-20">
        <div class="media card-body">
            <div class="media-left pr-12">
                <img class="avatar avatar-xl no-radius" src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="...">
            </div>
            <div class="media-body">
                <div class="mb-2">
                    <span class="fs-20 pr-16">Tim Hank</span>
                </div>
                
            </div>
            <div class="media-right text-right d-none d-md-block">
           
            </div>
        </div>

        <footer class="card-footer flexbox align-items-center">
            <div>
                
            </div>
            <div class="card-hover-show">
                
                <a routerLink="/msg" class="btn btn-xs fs-10 btn-bold btn-primary" href="#" data-toggle="modal" data-target="#modal-contact">Message</a>
                <a class="btn btn-xs fs-10 btn-bold btn-warning" href="#">Delete</a>
            </div>
        </footer>
    </div>

    <nav>
        <ul class="pagination justify-content-center">
            <li class="page-item active">
                <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">5</a></li>
        </ul>
    </nav>
    <br>
</div>
</div>                     
<app-footer-front></app-footer-front>